# dependencies
node_modules

# next.js
.next/
out/

# testing
coverage/

# env files
.env
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# os
.DS_Store

# typescript
*.tsbuildinfo
